body {
    background-color: #300808;
    margin: 0;
  }

/* fire balls animation */
  
  .fire {
    font-size: 24px;
    filter: blur(0.02em);
    -webkit-filter: blur(0.02em);
    margin: 3em auto 0 auto;
    position: relative;
    width: 10em;
    height: 12em;
  }
  
  .particle {
    animation: rise 1s ease-in infinite;
    background-image: radial-gradient(#ff5000 20%, rgba(255, 80, 0, 0) 70%);
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 2em;
    height: 2em;
  }
  .particle:nth-of-type(1) {
    animation-delay: 0.7847400949s;
    left: calc((100% - 5em) * 0);
  }
  .particle:nth-of-type(2) {
    animation-delay: 0.8322386999s;
    left: calc((100% - 5em) * 0.02);
  }
  .particle:nth-of-type(3) {
    animation-delay: 0.8916628302s;
    left: calc((100% - 5em) * 0.04);
  }
  .particle:nth-of-type(4) {
    animation-delay: 0.2581096547s;
    left: calc((100% - 5em) * 0.06);
  }
  .particle:nth-of-type(5) {
    animation-delay: 0.6624093061s;
    left: calc((100% - 5em) * 0.08);
  }
  .particle:nth-of-type(6) {
    animation-delay: 0.1717543966s;
    left: calc((100% - 5em) * 0.1);
  }
  .particle:nth-of-type(7) {
    animation-delay: 0.7179162432s;
    left: calc((100% - 5em) * 0.12);
  }
  .particle:nth-of-type(8) {
    animation-delay: 0.9538973323s;
    left: calc((100% - 5em) * 0.14);
  }
  .particle:nth-of-type(9) {
    animation-delay: 0.8572543687s;
    left: calc((100% - 5em) * 0.16);
  }
  .particle:nth-of-type(10) {
    animation-delay: 0.7911196675s;
    left: calc((100% - 5em) * 0.18);
  }
  .particle:nth-of-type(11) {
    animation-delay: 0.4777835129s;
    left: calc((100% - 5em) * 0.2);
  }
  .particle:nth-of-type(12) {
    animation-delay: 0.7186371816s;
    left: calc((100% - 5em) * 0.22);
  }
  .particle:nth-of-type(13) {
    animation-delay: 0.4238282307s;
    left: calc((100% - 5em) * 0.24);
  }
  .particle:nth-of-type(14) {
    animation-delay: 0.7619258587s;
    left: calc((100% - 5em) * 0.26);
  }
  .particle:nth-of-type(15) {
    animation-delay: 0.4905737246s;
    left: calc((100% - 5em) * 0.28);
  }
  .particle:nth-of-type(16) {
    animation-delay: 0.8867971867s;
    left: calc((100% - 5em) * 0.3);
  }
  .particle:nth-of-type(17) {
    animation-delay: 0.9457207036s;
    left: calc((100% - 5em) * 0.32);
  }
  .particle:nth-of-type(18) {
    animation-delay: 0.0093013735s;
    left: calc((100% - 5em) * 0.34);
  }
  .particle:nth-of-type(19) {
    animation-delay: 0.85718775s;
    left: calc((100% - 5em) * 0.36);
  }
  .particle:nth-of-type(20) {
    animation-delay: 0.110281239s;
    left: calc((100% - 5em) * 0.38);
  }
  .particle:nth-of-type(21) {
    animation-delay: 0.8281984663s;
    left: calc((100% - 5em) * 0.4);
  }
  .particle:nth-of-type(22) {
    animation-delay: 0.1274592618s;
    left: calc((100% - 5em) * 0.42);
  }
  .particle:nth-of-type(23) {
    animation-delay: 0.1298157385s;
    left: calc((100% - 5em) * 0.44);
  }
  .particle:nth-of-type(24) {
    animation-delay: 0.8337683798s;
    left: calc((100% - 5em) * 0.46);
  }
  .particle:nth-of-type(25) {
    animation-delay: 0.7890779366s;
    left: calc((100% - 5em) * 0.48);
  }
  .particle:nth-of-type(26) {
    animation-delay: 0.5174345982s;
    left: calc((100% - 5em) * 0.5);
  }
  .particle:nth-of-type(27) {
    animation-delay: 0.9218276088s;
    left: calc((100% - 5em) * 0.52);
  }
  .particle:nth-of-type(28) {
    animation-delay: 0.9591383636s;
    left: calc((100% - 5em) * 0.54);
  }
  .particle:nth-of-type(29) {
    animation-delay: 0.982356518s;
    left: calc((100% - 5em) * 0.56);
  }
  .particle:nth-of-type(30) {
    animation-delay: 0.2916516193s;
    left: calc((100% - 5em) * 0.58);
  }
  .particle:nth-of-type(31) {
    animation-delay: 0.669641054s;
    left: calc((100% - 5em) * 0.6);
  }
  .particle:nth-of-type(32) {
    animation-delay: 0.0970402601s;
    left: calc((100% - 5em) * 0.62);
  }
  .particle:nth-of-type(33) {
    animation-delay: 0.5213286727s;
    left: calc((100% - 5em) * 0.64);
  }
  .particle:nth-of-type(34) {
    animation-delay: 0.1449805078s;
    left: calc((100% - 5em) * 0.66);
  }
  .particle:nth-of-type(35) {
    animation-delay: 0.3987035612s;
    left: calc((100% - 5em) * 0.68);
  }
  .particle:nth-of-type(36) {
    animation-delay: 0.6140613585s;
    left: calc((100% - 5em) * 0.7);
  }
  .particle:nth-of-type(37) {
    animation-delay: 0.8199668035s;
    left: calc((100% - 5em) * 0.72);
  }
  .particle:nth-of-type(38) {
    animation-delay: 0.2184098533s;
    left: calc((100% - 5em) * 0.74);
  }
  .particle:nth-of-type(39) {
    animation-delay: 0.6745567293s;
    left: calc((100% - 5em) * 0.76);
  }
  .particle:nth-of-type(40) {
    animation-delay: 0.804890198s;
    left: calc((100% - 5em) * 0.78);
  }
  .particle:nth-of-type(41) {
    animation-delay: 0.3810259622s;
    left: calc((100% - 5em) * 0.8);
  }
  .particle:nth-of-type(42) {
    animation-delay: 0.492401047s;
    left: calc((100% - 5em) * 0.82);
  }
  .particle:nth-of-type(43) {
    animation-delay: 0.878754956s;
    left: calc((100% - 5em) * 0.84);
  }
  .particle:nth-of-type(44) {
    animation-delay: 0.8589719471s;
    left: calc((100% - 5em) * 0.86);
  }
  .particle:nth-of-type(45) {
    animation-delay: 0.6289483922s;
    left: calc((100% - 5em) * 0.88);
  }
  .particle:nth-of-type(46) {
    animation-delay: 0.9210060556s;
    left: calc((100% - 5em) * 0.9);
  }
  .particle:nth-of-type(47) {
    animation-delay: 0.8772551414s;
    left: calc((100% - 5em) * 0.92);
  }
  .particle:nth-of-type(48) {
    animation-delay: 0.8604056873s;
    left: calc((100% - 5em) * 0.94);
  }
  .particle:nth-of-type(49) {
    animation-delay: 0.6534124129s;
    left: calc((100% - 5em) * 0.96);
  }
  .particle:nth-of-type(50) {
    animation-delay: 0.0290018688s;
    left: calc((100% - 5em) * 0.98);
  }
  
  @keyframes rise {
    from {
      opacity: 0;
      transform: translateY(0) scale(1);
    }
    25% {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-9em) scale(0);
    }
  }

/* gradient animation */

  .block {
	position: relative;
    transition: width 0.2s ease-out, height 0.2s ease-out 0.2s;
	/* margin: 300px auto 0;
	width: 500px;
	height: 250px;
	background: linear-gradient(0deg, #000, #272727); */
}

.block:hover::before, .block:hover::after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #ff5000, #300808, rgba(255,80,0,0),#ffa500,#800000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}

/* floating animation */

.floating {  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
  }